// Utils
@import "utils/mixins";
@import "utils/variables";
//global --- grid system, clearfixes, height etc...
@import "globals/grid";
// Components
@import "components/lists/movielists/MovieList";
@import "Main";
@import "components/views/home/Home";
@import "components/views/home/searchBar/SearchForm";
@import "components/views/home/searchResults/SearchResults";
@import "components/buttons/ViewButton";
//Gloabl styles
/////////////////////////////////////////////

body {
  margin: 0;
  background-color: white;
  font-family: $main-font;
  font-weight: $light-weight;
}

button,
input {
  border-radius: 0;
  border-width: 0;
  box-shadow: $box-shadow;
}

a {
  color: $link-color;
  text-decoration: none;
  /* no underline */
}

.clear {
  @include clearfix;
}
/* text alignment */
.text_center {
  text-align: center;
}
