#search{
  float:left;
}

#testbutton{
  border-radius:0px;
  width:90px;
  height:45px;
  font-size:20px;
  font-weight:bold;
  margin-top:5px;
  margin-left:5px;
  background-color:$blue;
}

.searchBox{
  margin-top: 5px;
  padding-left:15px;
  margin-left:5px;
  border:none;
  height:45px;
  width:280px;
  font-size:20px;
  border-color:$highLightGrey;
  border-width:1px;
  border-style:solid;
}

.Navbar-form{
  max-width:700px;
   width:75%;
   margin: 0 auto;

}
