.Shopping-Cart{
  font-size:1.5em;
  position:fixed;
  right:10px;
  top:10px;
  color:$darkGreen;
}
.qty{
  color:white;
  font-size:.5em;
  right:25px;
  bottom:12px;
  position:relative;
}

.delete-button{
  background-color:$red;
  color:white;
}

.cart-row{
  height:300px;
  width:100%;
  border-color:$slateGrey;
  border-bottom-width:thin;
  text-align:center;
}
.cart-item{
  display:inline-block;
  width:400px;
  img{
    height:100px;
  }
}
.cart-info{
  display:inline-block;
  height:100%;
  vertical-align:middle;
  width:300px;

}
.minicart-title{
  text-align:center;
  margin-bottom:30px;
}
