.discount{
    display:inline-block;
    margin-left:30px;
    label{
      vertical-align:middle;
    }
}
.checkbox-discount{
  height:17px;
  width:17px;
  margin-left:10px;
  vertical-align:middle;
}
