.JumboTron{
  background-position: 70% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  padding:15px;
  padding-left: 30px;
  text-align:center;
  color:white;
  margin-top:70px;
}


@media (max-width: 800px) {
    .JumboTron{
          margin-top:40px;
    }
}

@media (max-width: 480px) {
    .JumboTron{
          margin-top:20px;
    }
}

.titleText{
 font-family: Tahoma;
 }
