/*------Grid-System----*/

.container{
  display:block;
}
.small-one-whole{
    @media (max-width: 670px) {
          width:100%;
          display:inline-block;
    }
}

.medium-one-third{
      @media (min-width: 671px) {
          width:32%;
          height:300px;
          display:inline-block;
      }
}

body{
  font-family:serenity,helvetica,helvetica neue,arial,sans-serif;
}

.head-image{
  height:300px;
  background-image:url("https://sneakpeeq-sites.s3.amazonaws.com/fijiwater/images/extras-bg-final.jpg");
  background-size:1000px;
  background-position: 50% 7%;
  @media (max-width: 670px) {
        height:150px;
        background-position: 50% 5%;
        background-size:600px;
  }
}
