.navbar{
  border-radius:0px;
  opacity:.95;
}

.navbar-nav {
    margin-left:25%;
    display:inline-block;
}
.navbar-text{
  font-size:15px;
  vertical-align:center;
  margin-top:0px;
  margin-bottom:0px;
}
