.schedulePanel{
  text-align:center;
}
.daySelection{
  color:white;
  width:100px;
  display:inline-block;
  background-color:#7E8F7C;
  opacity:0.95;
  border-radius:3px;
}


.triangle:hover{
   color:$blue;
   cursor:pointer;
}
