
 .list-group-item:last-child{
 border-radius:0px;

 }
 div{
   font-family:Arial, Helvetica, sans-serif
 }


 .distances{
   font-size:10px;
 }
 .duration{
   color:$travelGreen;
   font-weight:bold;
 }
 #reviews{
   display:block;
   color:gray;
   font-size:10px;
   font-style:italic;
 }

.locationImage{
  vertical-align:top;
  margin-top:20px;
  margin-left:15px;
  border-radius:5px;
  width:110px;
}

.ToDoItems{
   border-color:#e2e2e2;
   border-style:solid;
   border-width:1px;
   border-radius:4px;
   background-color: white;
   min-width:380px;
   height:155px;
   margin: 0 auto;
   margin-top:10px;
}
.ToDoItems:hover{
  cursor:move;
}

.list-group-item{
  margin-top:15px;
  min-width:150px;
  padding-right:0px;
  width:60%;
  height:100px;
  display:inline-block;
  border-width:0px;
}

.snippet_text{
  display:block;
  font-size:10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom:0px;
}

.glyphicon-remove{
  float:right;
  margin-right:5px;
  margin-top:5px;
  color:$highLightGrey;
}

.glyphicon-remove:hover{
  float:right;
  margin-right:5px;
  margin-top:5px;
  color:$red;
  cursor:pointer;
}

.schedulePanel{
  padding-left:0px;
}
