/* Color Palette */
$gray:#FAFAFA;
$yucky-yellow:#F2C968;
$hipster-pink:#F9F1E4;
$gray-lighter:#EEE;
$slate-green:#56817A;
$slate-gray:#39424B;
$light-gray:#dddddd;
$link-color: #2895F1;
$text-color:#666;

/* box shadow */
$box-shadow:0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);

/* Fixed length */
$inner-width:800px;
$sml-gap:20px;
$lrg-gap:40px;
$lrg-btn-height:30px;
$lrg-btn-width:200px;
$sml-btn-height:20px;
$sml-btn-width:170px;

/* Font Size */
$main-font:helvetica,helvetica neue,arial,sans-serif;
$sml-font:.8em;
$md-font:1em;
$lrg-font:1.5em;
$button-font:1.2em;
$heavy-weight:700;
$light-weight:300;

/* Device */
$phone: 480px;
$tablet:768px;
$desktop:1024px;
