/* Color Palette */
$gray:#FAFAFA;
$yucky-yellow:#F2C968;
$hipster-pink:#F9F1E4;


/* Fixed Settings */
$nav-height:60px;
$section-height:300px;
$btn-height:45px;
$btn-width:170px;

/* Font Size */
$main-font:helvetica,helvetica neue,arial,sans-serif;
$small-font:.8em;
$button-font:1.2em;
$heavy-weight:700;
$light-weight:300;

/* Device */
$phone: 480px;
$tablet:768px;
$desktop:1024px;
